<div style="margin: 20px">
  <h4>Websites <%= link_to 'New Website', new_website_path, class: "btn btn-outline-success" %></h4>
</div>
<div class="container">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
      <th scope="col">Status</th>
      <th scope="col">Last Time Checked</th>
    </tr>
    </thead>
    <tbody>
    <% @websites.each do |website| %>
      <tr>
        <th><%= website.id %></th>
        <td><%= website.name %></td>
        <td><%= website.url %></td>
        <% if website.status == 'Up' %>
          <td class="text-success"><%= website.status %></td>
        <% else %>
          <td class="text-danger"><%= website.status %></td>
        <% end %>

        <td><%= website.last_checked_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>